:host {
  display: block;
  height: calc(100vh - 72px);
}

.stops-list {
  height: 100%;

  &__content {
    height: calc(100% - 60px);

    @media (width <= 991.98px) {
      app-stops-map {
        min-height: 400px;
        padding-top: 12px;
        padding-bottom: 24px;
      }
    }
  }

  .mat-mdc-table {
    min-width: 0;
    max-height: 100%;
    overflow-y: auto;
  }

  .mat-column-actions {
    flex: 0 0 100px;
    justify-content: center;
  }

  .mat-mdc-row {
    cursor: pointer;

    &:hover {
      background-color: rgb(0, 0, 0, 0.04);
    }
  }

  &__row {
    &--selected {
      background-color: color-mix(in srgb, var(--mat-sys-primary) 12%, transparent) !important;
    }
  }
}
