<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="assets/icon.ico" alt="SchulBusserl" width="30" height="30" class="mx-3">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
        </ul>

        <mat-form-field appearance="outline" hideSubscriptWrapper>
          <mat-label>Zeitraum</mat-label>
          <mat-select panelClass="header__period-panel" [value]="selectedAccountingPeriod()?.id" [hideSingleSelectionIndicator]="true" [panelWidth]="null" (selectionChange)="selectAccountingPeriodClick.emit($event.value)">
            <mat-select-trigger>
              {{ selectedAccountingPeriod()?.name ?? '' }}
            </mat-select-trigger>
            @for (accountingPeriod of accountingPeriods(); track accountingPeriod) {
              <mat-option [value]="accountingPeriod.id">
                <div class="header__accounting-period-option d-flex justify-content-between align-items-center">
                  {{ accountingPeriod.name }}
                  <div class="ps-4">
                    <button matIconButton (click)="updateAccountingPeriodClick.emit(accountingPeriod); $event.stopPropagation()">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button matIconButton (click)="deleteAccountingPeriodClick.emit(accountingPeriod); $event.stopPropagation()">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-option>
            }
            <div class="w-100 d-flex justify-content-center pt-2">
              <button matButton (click)="createAccountingPeriodClick.emit()">
                <mat-icon>add</mat-icon>
                Hinzufügen
              </button>
            </div>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </nav>
</div>
