name: Build Backend

on:
  pull_request:

jobs:
  build-backend:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Build backend
        working-directory: .
        run: |
          dotnet restore
          dotnet build -c Release