<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Schul Busserl</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <mat-form-field appearance="outline" hideSubscriptWrapper>
        <mat-label>Zeitraum</mat-label>
        <mat-select [value]="appStore.selectedAccountingPeriod()?.id" (selectionChange)="onAccountingPeriodSelected($event)">
          @for (accountingPeriod of appStore.accountingPeriods.value(); track accountingPeriod) {
            <mat-option [value]="accountingPeriod.id">{{accountingPeriod.name}}</mat-option>
          }
          <div class="w-100 d-flex justify-content-center">
            <button matButton>
              <mat-icon>add</mat-icon>
              Hinzufügen
            </button>
          </div>
        </mat-select>
      </mat-form-field>

    </div>
  </div>
</nav>

<main class="main">
  @let accountingPeriods = appStore.accountingPeriods;
  @let error = accountingPeriods.error();
  @let value = accountingPeriods.value();

  @if (accountingPeriods.isLoading()) {
    Loading...
  } @else if (error) {
    {{ error.message }}
  } @else if (accountingPeriods.value()) {
    Loaded!: {{ value.length }}
  }
</main>

<router-outlet />
