<app-header
  [selectedAccountingPeriod]="accountingPeriodsStore.selectedAccountingPeriod()"
  [accountingPeriods]="accountingPeriodsStore.accountingPeriods.value() ?? []"
  (selectAccountingPeriodClick)="onAccountingPeriodSelected($event)"
  (createAccountingPeriodClick)="onCreateAccountingPeriodClick()"
  (updateAccountingPeriodClick)="onUpdateAccountingPeriodClick($event)"
  (deleteAccountingPeriodClick)="onDeleteAccountingPeriodClick($event)"/>

<main class="main">
</main>

<router-outlet/>
